doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Forumula
		link(rel='shortcut icon', href='../assets/shortcut.png')
		link(rel='stylesheet', type='text/css', href='../assets/css/style.css')
		link(rel='stylesheet', type='text/css', href='../assets/css/materialize.css')
		link(rel='stylesheet', type='text/css', href='../assets/css/animate.css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300', rel='stylesheet', type='text/css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href='../assets/font-awesome-4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css', media='all')
		//Smooth Scrolling
		style.
			.header {
			position: relative;
			margin-bottom: -40px;
			overflow: hidden;
			}
	body
		ul#dropdown1.dropdown-content
			li
				a(href='http://localhost:3009/index/profile') Profile
			
			-if (puta.type === 'admin')
				li
					a(href='/index/admin') Admin Settings
			li
				a(href='/logout') Logout
		nav
			.nav-wrapper.pink.accent-4
				.brand-logo
						a(href='http://localhost:3009/index')
							img(src="../assets/logo2.png" width="250")
				ul#nav-mobile.right.hide-on-med-and-down
					li
						a(href='http://localhost:3009/index#content_2' style="font-family: century gothic;") Forums
					li
						a.dropdown-button(href='#!', data-activates='dropdown1' style="font-family: century gothic;")
							| @#{puta.username}
							i.material-icons.left person_pin
			#content_2.content
				br
				.container.login
					center
						h3(style="color:black; font-family: century gothic;") #{categName}'s Subforum   
							span
								button.btn-floating.btn-large.waves-effect.waves-light.pink.accent-4
									i.material-icons add
					#fuck.closed
						- if (users.length)
							each user in users
								center
									.animated.fadeInDown.col.s12.m6
										.card.grey.darken-3
											.card-content.white-text
												a.card-title(style="color:pink;" href=`http://localhost:3009/subforum/${user.subname}`) #{user.subname}
												p
													| #{user.subdescription}
						- else
							center
								p.animated.fadeInDown(style="color: red; font-family: century gothic;") No SubForum yet.
				br
				br
		script.
			$('button').click(function(){
			$('#fuck').toggleClass('closed');
			});
		// Import jQuery before materialize.js
		script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(type='text/javascript', src='../assets/js/materialize.min.js')
		//script(src='../assets/js/jquery.nicescroll.js')
		script(src='../assets/js/smooth-scroll.js')
		script.
			smoothScroll.init();
		script(type='text/javascript').
			$('document').ready(function(){
			$(".fuck").sideNav();
			});
		script(type='text/javascript').
			$(document).ready(function(){
			$("body").niceScroll();
			$("#mobile-demo").niceScroll();
			$("#mobile-demo").getniceScroll().resize();
			});
		script(src='../assets/js/materialize.min.js')
		script(src='../assets/js/scrip.js')
		script(src='../assets/js/jquery.nicescrollforindex.js')
		script(src='../assets/js/typed.js')